.component_body{
    height: 100%;
    padding: 0;
}

.sg_col{
    overflow-y: scroll; 
    height: 100%;
    padding-right: 0px;
}

.skill_col{
    overflow-y: scroll; 
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.sg_row,
.skill_row{
    transition: all .3s ease;
}

.sg_row:hover,
.skill_row:hover{
    background: #E0F2F1;
    cursor: pointer;
}

.sg_row.selected{
    background: #80cbc4;
}

.sg_info{
    display: none;
    transition: all .3s ease;
}

.sg_row.selected .sg_info{
    display: block;
}

.sg_row.selected .sg_info:hover{
    color: #ff9800;
}

.sg_title h4,
.skill_title h4{
    margin-left: 20px;
}

.add_sg_btn{
    float: right;
    left: 42%;
    bottom: 30px;
    position: fixed;
    z-index: 20;
}

.add_skill_btn{
    float: right;
    right: 45px;
    bottom: 30px;
    position: fixed;
    z-index: 20;
}

.emp_list_progress_bar{
    position: fixed;
    z-index: 10;
}