<md-progress-bar class="progress" *ngIf="inProgress" color="accent" class="emp_list_progress_bar"></md-progress-bar>
<toaster-container></toaster-container>
<div class="row component_head" style="margin-right:0px;">
  <div class="col-md-4 sg_title">
    <h4>Подразделения</h4>
  </div>
  <div class="col-md-4 skill_title">
    <h4>Сотрудники</h4>
  </div>
  <div class="col-md-4 skill_title">
    <h4>Рассылка</h4>
  </div>
</div>
<div class="row component_body">
  <div class="col-md-4 sg_col">
    <md-list>
      <md-list-item *ngFor="let div of divisions">
        <md-checkbox class="chbx" [checked]="selectedDivs.includes(div.id)" (change)="divCheckListener(div)" style="font-weight: 400;">{{div?.name}}</md-checkbox>
      </md-list-item>
    </md-list>
  </div>
  <div class="col-md-4 skill_col">
    <md-list>
      <md-list-item *ngFor="let emp of filteredEmployees">
        <md-checkbox class="chbx" [checked]="selectedEmployees.includes(emp.id)" (change)="emplChecked(emp)">{{emp?.fio}}</md-checkbox>
      </md-list-item>
    </md-list>
  </div>
  <div class="col-md-4 skill_col">
    <a *ngIf="selectedEmployees.length > 0" href="mailto:{{getEmails()}}" class="mailLink">Перейти к рассылке</a>
  </div>
</div>