<md-progress-bar class="progress" *ngIf="inProgress" mode="{{mode}}" color="accent"></md-progress-bar>
<toaster-container></toaster-container>
<md-card class="example-card">
  <md-card-content>
    <md-list>
      <md-list-item class="ct_row">
        <md-icon class="note-icon" md-list-icon>perm_contact_calendar</md-icon>
        <h4 md-line>{{ct?.name}}</h4>
        <p md-line> {{ct?.nameEng}} </p>
      </md-list-item>
    </md-list>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="edit(ct?.id)">Редактировать</button>
    <button md-button type="button" (click)="delete(ct?.id)">Удалить</button>
    <button md-button type="button" (click)="cts()">К списку</button>
  </md-card-actions>
</md-card>