<md-card class="example-card">
  <md-card-header class="card_header">
    <!--div md-card-avatar [ngStyle]="{'background-image': 'url(/api/image/' + employee?.imageId + '/source)' }" class="example-header-image"></div-->
    <md-card-title>{{employee?.fio}}</md-card-title>
    <md-card-subtitle>{{employee?.position?.position}}</md-card-subtitle>
    <button md-icon-button class="to_Employee_btn" title="Подробнее" (click)="toEmployee(employee?.id)">
      <md-icon>info_outline</md-icon>
    </button>
  </md-card-header>
  <md-card-content *ngIf="employee?.imageId" class="employee_photo_container" [ngStyle]="{'background-image': 'url(/api/image/' + employee?.imageId + '/source)' }">
  </md-card-content>
  <md-card-content *ngIf="!employee?.imageId" class="employee_photo_container" [ngStyle]="{'background-image': 'url(../../assets/user.png)', 'opacity': '0.1' }">
  </md-card-content>
  <md-card-content class="contacts-container">
    <div class="contacts">
      <p *ngFor="let cont of employee?.contacts">
        <span *ngIf="!itIsEmail(cont.value)">{{cont?.contactType?.name}}: <span style="color: #555;">{{cont?.value}}</span></span>
        <span *ngIf="itIsEmail(cont.value)">{{cont?.contactType?.name}}: <a style="color: #555;" href="mailto:{{cont.value}}">{{cont?.value}}</a></span>
      </p>
    </div>
  </md-card-content>
</md-card>
