<md-card class="example-card">
  <md-card-header>
    <!--div md-card-avatar class="example-header-image"></div-->
    <md-card-title>{{employee?.fio}}</md-card-title>
    <md-card-subtitle>{{employee?.position?.position}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="../../assets/images.jpg" alt="Photo of a Shiba Inu">
  <md-card-content>
    <p *ngFor="let cont of employee?.contacts">
      <span>{{cont.contactType.name}}: <span style="color: #555;">{{cont.value}}</span></span>
    </p>
  </md-card-content>
</md-card>
