<md-card style="height: 100%; box-shadow: none; padding: 0;">
    <md-card-content>
        <md-select placeholder="Заместитель" style="width: 100%;" [(ngModel)]="model.employee">
        <md-option *ngFor="let empl of data.employees" [value]="empl">
            {{empl.fio}}
        </md-option>
        </md-select>
    </md-card-content>
    <md-card-actions>
        <button md-button (click)="save()" [disabled]="!model.employee">Сохранить</button>
        <button md-button (click)="close()">Закрыть</button>
    </md-card-actions>
</md-card>