<md-progress-bar mode="indeterminate" *ngIf="inProgress" color="accent" class="prgrs"></md-progress-bar>
<toaster-container></toaster-container>
<md-card class="example-card">
  <div class="row">
    <div class="col-md-3" style="padding-right: 30px;">
      <div class="row">
        <div *ngIf="employee?.imageId" 
          [ngStyle]="{'background-image': 'url(/api/image/' + employee?.imageId + '/source)' }" 
          class="example-header-image col-md-3">
        </div>
      </div>
      <div class="row">

        <div class="col-md-12">
          <br/>
          <h5>Загрузить изображение(.jpg, .png, .gif / не более 500Kb)</h5>
        </div>
        <div class="col-md-9">
          <div class="row file_input_row" style="margin: 0px;">
            <div class="form-group">
              <input type="file" id="upload" class="custom-file-input" style="margin-top: 4px;">
            </div> 
          </div>
        </div>
        <div class="col-md-3">
          <button type="button" (click)="upload()" style="float:right;" md-button>Загрузить</button>
        </div>

      </div>
    </div>
    <div class="col-md-5" style="overflow-y: scroll;height: 800px;overflow-x: hidden;">
      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="example-form">
        <md-card-content style="margin-bottom: 32px;">
          <h5>Редактирование</h5>
        </md-card-content>
        <md-card-content>
            <md-input-container class="full-width">
              <input mdInput placeholder="ФИО" formControlName="fio">
            </md-input-container>
        </md-card-content>
        <md-card-content>
            <md-input-container class="full-width">
              <input mdInput placeholder="ФИО (Eng)" formControlName="fioEng">
            </md-input-container>
        </md-card-content>
        <md-card-content>
            <md-checkbox [checked]="employeeForm?.value?.active" formControlName="active">Активный</md-checkbox>
        </md-card-content>
        <md-card-content>
          <md-select placeholder="Пол" formControlName="gender" name="gender" class="full-width">
            <md-option *ngFor="let g of genders" [value]="g.value">
              {{g.name}}
            </md-option>
          </md-select>
        </md-card-content>
        <md-card-content>
            <md-input-container class="full-width">
              <input mdInput placeholder="Логин" formControlName="uname">
            </md-input-container>
        </md-card-content>
        <md-card-content>
            <md-input-container class="full-width">
              <input mdInput placeholder="Табельный номер 1С" formControlName="onesId">
            </md-input-container>
        </md-card-content>
        <md-card-content>
          <md-form-field>
            <input mdInput [mdDatepicker]="picker" placeholder="Дата рождения" formControlName="dob">
            <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
            <md-datepicker #picker></md-datepicker>
          </md-form-field>
        </md-card-content>
        <md-card-content>
          <md-select placeholder="Организация" formControlName="organization" name="organization" class="full-width">
            <md-option *ngFor="let org of organizations" [value]="org">
              {{org.name}}
            </md-option>
          </md-select>
        </md-card-content>
        <md-card-content>
          <md-select placeholder="Подразделение" formControlName="div" name="div" class="full-width">
            <md-option *ngFor="let div of divisions" [value]="div.id">
              {{div.name}}
            </md-option>
          </md-select>
        </md-card-content>
        <md-card-content>
          <md-select placeholder="Должность" formControlName="position" name="position" class="full-width">
            <md-option *ngFor="let pos of positions" [value]="pos">
              {{pos.position}}
            </md-option>
          </md-select>
        </md-card-content>
        <md-card-content>
          <md-select placeholder="Место работы" formControlName="location" name="location" class="full-width">
            <md-option *ngFor="let loca of locations" [value]="loca">
              {{loca.name}} ({{loca.office.name}})
            </md-option>
          </md-select>
        </md-card-content>
        <md-card-actions>
          <button [disabled]="employeeForm.pristine" type="submit" md-button>Сохранить</button>
          <button type="button" (click)="cancel()" md-button>Отмена</button>
        </md-card-actions>
      </form> 
    </div>
    <div class="col-md-4" style="overflow-y: scroll;height: 800px;">
      <md-card-content style="margin-bottom: 0;">
        <h5>Контакты</h5>
        <p *ngIf="!employee?.contacts">Нет контактов</p>
        <md-list>
          <md-list-item *ngFor="let cont of employee?.contacts">
            <h5 md-line *ngIf="cont?.contactType?.name">{{cont?.contactType?.name}}</h5>
            <p md-line *ngIf="cont?.value">{{cont?.value}}</p>
            <md-icon class="cont_control_icon" md-list-icon (click)="editContact(cont)" title="Редактировать">edit</md-icon>
            <md-icon class="cont_control_icon" md-list-icon (click)="deleteContact(cont)" title="Удалить">delete</md-icon>
          </md-list-item>
        </md-list>
      </md-card-content>
      <md-card-content>
          <button md-button (click)="openContactDialog()">Добавить контакт</button>
      </md-card-content>
      <md-card-content style="margin-bottom: 0;">
        <h5>Скилы</h5>
        <p *ngIf="employee?.skills?.length == 0">Скилы не указаны</p>
        <md-list>
          <md-list-item *ngFor="let skill of employee?.skills">
            <h5 md-line *ngIf="skill?.name">{{skill?.name}}</h5>
            <p md-line *ngIf="skill?.skillGroup?.name">{{skill?.skillGroup?.name}}</p>
            <md-icon class="cont_control_icon" md-list-icon (click)="editSkill(skill)" title="Редактировать">edit</md-icon>
            <md-icon class="cont_control_icon" md-list-icon (click)="deleteSkill(skill)" title="Удалить">delete</md-icon>
          </md-list-item>
        </md-list>
      </md-card-content>
      <md-card-content>
          <button md-button (click)="openSkillDialog()">Добавить скилл</button>
      </md-card-content>
    </div>
  </div>
</md-card>