.full-width {
  width: 100%;
}

.example-header-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 0%;
    border-radius: 0px;
    height: 430px;
    width: 100%;
}

.file_input_row input{
    width: 100%;
}

.custom-file-input{
    outline: none;
    color: #333;
    padding: 5px;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    transition: all .3s ease;
}
.custom-file-input:hover{
    border-bottom: 2px solid #80cbc4;
}
.custom-file-input:active,
.custom-file-input:active::before,
.custom-file-input:focus,
.custom-file-input:focus::before{
  outline: none !important;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Обзор...';
  color: #777;
  display: inline-block;
  background: #fff;
  margin: -3px 0 -3px -3px;
  padding: 5px 20px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-align: center;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  transition: all .3s ease;
}
.custom-file-input:hover::before {
  color: #80cbc4;
}

.cont_control_icon{
  transition: all .3s ease;
  float: right;
  cursor: pointer;
}

.cont_control_icon:hover{
  color: #ff9800;
}
.prgrs{
    position: absolute;
    z-index: 10;
}