<md-toolbar class="main_bar" color="primary">
    <img src="../assets/logo_2.png" class="top_logo"/>
    <button md-button routerLink="/employee" routerLinkActive="active">Сотрудники</button>
    <button md-button routerLink="/division" routerLinkActive="active">ОШС</button>
    <button md-button routerLink="/organization" routerLinkActive="active">Организации</button>
    <button md-button routerLink="/position" routerLinkActive="active">Должности</button>
    <button md-button routerLink="/officeAndLocation" routerLinkActive="active">Офисы и комнаты</button>
    <button md-button routerLink="/skill" routerLinkActive="active">Скилы</button>
    <button md-button routerLink="/imageType" routerLinkActive="active">Фотографии</button>
    <button md-button routerLink="/contactType" routerLinkActive="active">Контакты</button>
    <button md-button routerLink="/admin" routerLinkActive="active">Администрирование</button>
    <span class="example-spacer"></span>
    <button md-button [mdMenuTriggerFor]="menu">Алехин Владимир</button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>Профиль</button>
      <button md-menu-item>Выход</button>
    </md-menu>
    <md-icon>face</md-icon>
</md-toolbar>
<div class="main_container">
  <router-outlet></router-outlet>
</div>
