<md-progress-bar class="progress" *ngIf="inProgress" mode="{{mode}}" color="accent" class="emp_list_progress_bar"></md-progress-bar>
<div class="add_btn">
  <button md-fab color="accent" (click)="create()">
    <md-icon aria-label="Создать нового сотрудника">add</md-icon>
  </button>
</div>


<div class="row component_head" style="margin:0px;">
  <div class="col-md-3 filter_title">
    <h4>Фильтры</h4>
  </div>
  <div class="col-md-9 emp_title">
    <h4>Сотрудники</h4>
  </div>
</div>
<div class="row component_body" style="margin:0px;">
  <div class="col-md-3 filter_col">
    <div class="col-md-12">
      <div class="row">
        <md-input-container class="search emp-search-form">
          <input mdInput placeholder="Сотрудник" [mdAutocomplete]="autoEmpls" [formControl]="employeeSearchControl">
        </md-input-container>
        <md-autocomplete #autoEmpls="mdAutocomplete">
          <md-option *ngFor="let em of filteredEmployees | async" [value]="em.fio">
            {{em?.fio}}
          </md-option>
        </md-autocomplete>
      </div>

      <div class="row">
        <md-slide-toggle 
          [checked]="onlyActive"
          [disabled]="disabled">Только активные</md-slide-toggle>
      </div>

      <div class="row">
        <md-input-container class="search div-search-form">
          <input mdInput placeholder="Подразделение" [mdAutocomplete]="autoDivs" [formControl]="divSearchControl">
        </md-input-container>
        <md-autocomplete #autoDivs="mdAutocomplete" [displayWith]="displayDivName">
          <md-option *ngFor="let fd of filteredDivisions | async" [value]="fd">
            {{fd?.name}}
          </md-option>
        </md-autocomplete>
      </div>
    </div>

  </div>
  <div class="col-md-9 masonry_cont">
    <masonry  class="msnr" [useImagesLoaded]="true" [options]="{ resize: false, fitWidth: true, initLayout: true, percentPosition: false, gutter: 10, horizontalOrder: true }">
      <masonry-brick class="brick" *ngFor="let emp of rendered">
        <app-employee *ngIf="emp" [employee]="emp" class="emp_card"></app-employee>
      </masonry-brick>
    </masonry>
  </div>
</div>



