<md-progress-bar class="progress" *ngIf="inProgress" mode="{{mode}}" color="accent"></md-progress-bar>
<toaster-container></toaster-container>
<md-card class="example-card">
  <md-card-content>
    <md-list>
      <md-list-item class="pos_row">
        <md-icon class="note-icon" md-list-icon>device_hub</md-icon>
        <h4 md-line>{{position?.position}}</h4>
        <p md-line> {{position?.positionEng}} </p>
      </md-list-item>
    </md-list>
  </md-card-content>
  <md-card-actions *ngIf="!editModeOn">
    <button md-button (click)="edit(position?.id)">Редактировать</button>
    <button md-button type="button" (click)="delete(position?.id)">Удалить</button>
    <button md-button type="button" (click)="positions()">К списку</button>
  </md-card-actions>
</md-card>
