.pos_row{
    transition: all .3s ease;
}

.pos_row:hover{
    background: #E0F2F1;
    cursor: pointer;
}

.add_btn{
    float: right;
    right: 45px;
    bottom: 30px;
    position: fixed;
    z-index: 20;
}

.mat-list, .mat-nav-list, .mat-selection-list {
    overflow-y: scroll;
    height: 100%;
}

.search{
    margin: 0 auto;
    min-width: 70%;
}

.search_row{
    margin-top: 15px;
}